body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.containerone {
    display: flex;
    background-color: #1F2937;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 80px;
    gap: 10px;
}

.awesome {
    font-size: 18px;
    color: #E5E7EB;
    width: 50%;
}

.cat {
    flex: 1 1 auto;
    width: 50%;
}

.cat img {
    width: 100%;
}

.containertwo {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 80px;
}

.containerthree {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 80px 125px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    }

.containerfour {
    display: flex;
    background-color: #3882F6;
    margin: 40px 100px;
    color: #F9FAF8;
    justify-content: space-between;
    border-radius: 5px;
}

.containerfour button {
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
    border: 2px solid #F9FAF8;
}

.footer {
    background-color: #1F2937;
    padding: 20px;
    color: #F9FAF8;
    text-align: center;
}

.kenji {
    width: 66%;
    border: 3px solid #3882F6; 
    border-radius: 5px;   
}

.info {
    width: 25%;
}

.action {
    margin: 40px 60px;
}

button {
    background-color: #3882F6;
    border: 0;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 4px 16px;
    font-weight: bold;
}

ul {
    padding: 0;
    list-style-type: none;
    color: #E2E7EB;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    margin: 25;
    text-align: center;
}

h3 {
    margin: 0
}

p {
    margin: 0;
}