body {
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.containerone {
    display: flex;
    background-color: #1F2937;
}

.awesome {
    font-size: 18px;
    color: #E5E7EB;
}

.containertwo {
    display: flex;
}

.containerthree {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.containerfour {
    display: flex;
    background-color: #3882F6;
}

.footer {
    background-color: #1F2937;
}

.cat {
    height: 180px;
    width: 320px;
}

.kenji {
    height: 180px;
    width: 180px;
}

button {
    background-color: #3882F6;
}

ul {
    padding: 0;
    list-style-type: none;
    color: #E2E7EB;
    display: flex;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}